<div class="card mt-3">
    <button type="btn" id={{producto}} class="btn producto" onclick="guardarProducto('{{producto}}')" >
        <img src="{{producto}}.png" alt="" class="card-img">
    </button>
    </divcard>


